<!DOCTYPE html>
<html>

<head>
    <%- include('../static/partials/head.ejs') -%>
</head>

<body>
    <%- include('../static/partials/navbar.ejs') -%>
    <main class="container">
        <%- include('../static/partials/messages.ejs') -%>

        <% if(currentUser.role ==="standard") { %>

        <h1>Upgrade Account</h1>
        <hr>
        <form action="/users/<%= currentUser.id %>/upgrade" method="POST">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_NV8CnxeN2OzZ2Ci9buoO465X00jHv0qNeN"
            data-amount="999" 
            data-name="Stripe.com" data-description="Example charge" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">

            </script>

        </form>
        <% } %>
    </main>
    <%- include('../static/partials/baseScripts.ejs') -%>
</body>

</html>